<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spider.dao.SpiderControlMapper">
  <resultMap id="BaseResultMap" type="com.spider.entity.SpiderControl">
    <result column="spider_type" jdbcType="VARCHAR" property="spiderType" />
    <result column="spider_ip" jdbcType="VARCHAR" property="spiderIp" />
  </resultMap>
  <insert id="insert" parameterType="com.spider.entity.SpiderControl">
    insert into spider_control (spider_type, spider_ip)
    values (#{spiderType,jdbcType=VARCHAR}, #{spiderIp,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.spider.entity.SpiderControl">
    insert into spider_control
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="spiderType != null">
        spider_type,
      </if>
      <if test="spiderIp != null">
        spider_ip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="spiderType != null">
        #{spiderType,jdbcType=VARCHAR},
      </if>
      <if test="spiderIp != null">
        #{spiderIp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    SELECT * FROM spider_control
  </select>
</mapper>